@font-face {
    font-family: Peyda;
    font-style: normal;
    font-weight: 100;
    src: url('ttf/Peyda-Thin.ttf');
    src: url('ttf/Peyda-Thin.ttf') format('truetype');
    font-display: swap;
}
@font-face {
    font-family: Peyda;
    font-style: normal;
    font-weight: 200;
    src: url('ttf/Peyda-extralight.ttf');
    src: url('ttf/Peyda-extralight.ttf') format('truetype');
    font-display: swap;
}
@font-face {
    font-family: Peyda;
    font-style: normal;
    font-weight: 300;
    src: url('ttf/Peyda-light.ttf');
    src: url('ttf/Peyda-light.ttf') format('truetype');
    font-display: swap;
}
@font-face {
    font-family: Peyda;
    font-style: normal;
    font-weight: 400;
    src: url('ttf/Peyda-Regular.ttf');
    src: url('ttf/Peyda-Regular.ttf') format('truetype');
    font-display: swap;
}
@font-face {
    font-family: Peyda;
    font-style: normal;
    font-weight: 500;
    src: url('ttf/Peyda-Medium.ttf');
    src: url('ttf/Peyda-Medium.ttf') format('truetype');
    font-display: swap;
}
@font-face {
    font-family: Peyda;
    font-style: normal;
    font-weight: 600;
    src: url('ttf/Peyda-SemiBold.ttf');
    src: url('ttf/Peyda-SemiBold.ttf') format('truetype');
    font-display: swap;
}
@font-face {
    font-family: Peyda;
    font-style: normal;
    font-weight: 700;
    src: url('ttf/Peyda-Bold.ttf');
    src: url('ttf/Peyda-Bold.ttf') format('truetype');
    font-display: swap;
}
@font-face {
    font-family: Peyda;
    font-style: normal;
    font-weight: 800;
    src: url('ttf/Peyda-ExtraBold.ttf');
    src: url('ttf/Peyda-ExtraBold.ttf') format('truetype');
    font-display: swap;
}
@font-face {
    font-family: Peyda;
    font-style: normal;
    font-weight: 900;
    src: url('ttf/Peyda-Black.ttf');
    src: url('ttf/Peyda-Black.ttf') format('truetype');
    font-display: swap;
}