body {
  overflow-x:hidden;
}
a , .no-decoration {
  text-decoration: none;
}
.text-justify {
  text-align: justify;
}
.z-10 {
  z-index: 10;
}
.ratio-1 {
  aspect-ratio: 1;
}

.lazy {
  transition: all 0.3s ease-in-out;
}

// SCROLL bar styles
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: $white;
}

::-webkit-scrollbar-thumb {
  background: $primary;
}

input:focus-visible {
  outline:0!important;
}
.hero {
  height: 85vh;
  max-height: 85vh;
}